# THIS IS USED JUST to be able to run TESTS if you want to run them 
# you need to create a .env file with the following variables
# and enable tests in /test/bun-main.test.ts and run bun test
FID=YOUR_FID
SIGNER_KEY=YOUR_SIGNER_KEY
SIGNER_KEY2=YOUR_SIGNER_KEY2
HUB_URL=YOUR_HUB_URL
HUB_USER=YOUR_HUB_USER
HUB_PASS=YOUR_HUB_PASS
AIRSTACK_KEY=YOUR_AIRSTACK_KEY
NEYNAR_KEY=YOUR_NEYNAR_KEY